
# 应用配置
APP_NAME=MaterialDesignForum # 应用名称
APP_SEO=true # 是否开启SEO优化
APP_MAX_QUERY=20 # 最大查询数量
APP_DEFAULT_THEME='MaterialDesignForum-Vuetify2' # 默认主题

# 语言配置 可选值：de_DE,en_GB,en_US,fr_FR,ja_JP,ko_KR,ru_RU,zh_CN,zh_TW
APP_LOCALE=zh_CN # 应用语言
APP_FALLBACK_LOCALE=en_US # 回退语言
APP_FAKER_LOCALE=en_US # 模拟数据语言

# 数据库配置
DB_HOST="localhost" # 主机
DB_USERNAME="root" # 用户名
DB_PASSWORD="root"  # 值包含特殊字符
DB_DATABASE="demo" # 数据库名
DB_PORT="3306" # 端口
DB_PREFIX="" # 数据库表前缀

# 邮件配置
MAIL_USERNAME='2652549974@qq.com' # 用户名
MAIL_PASSWORD='' # 密码
MAIL_SENDER_NAME="MaterialDesignForum" # 发送者名称
MAIL_HOST=smtp.qq.com # 主机
MAIL_PORT=465 # 端口
MAIL_REPLY_TO="2652549974@qq.com" # 回复地址
MAIL_SCHEME='ssl' # 加密方案，可选值：ssl,tls
MAIL_MAILER=smtp # 邮件发送器，可选值：log,smtp

# OAUTH2 配置
OAUTH2_GITHUB_CLIENT_ID="" # Github客户端ID
OAUTH2_GITHUB_CLIENT_SECRET="" # Github客户端密钥

OAUTH2_GOOGLE_CLIENT_ID="" # Google客户端ID
OAUTH2_GOOGLE_CLIENT_SECRET="" # Google客户端密钥

OAUTH2_MICROSOFT_CLIENT_ID="" # Microsoft客户端ID
OAUTH2_MICROSOFT_CLIENT_SECRET="" # Microsoft客户端密钥

OAUTH2_SSO_CLIENT_MAIN_URL="http://localhost:8000" # SSO客户端主URL
OAUTH2_SSO_CLIENT_MAIN_NAME="MaterialDesignForum" # SSO客户端名称
OAUTH2_SSO_CLIENT_ID="test_client_id" # SSO客户端ID
OAUTH2_SSO_CLIENT_SECRET="test_client_secret" # SSO客户端密钥
