public/static
public/themes
public/locale/json/de_DE.json
public/locale/json/en_GB.json
public/locale/json/en_US.json
public/locale/json/fr_FR.json
public/locale/json/ja_JP.json
public/locale/json/ko_KR.json
public/locale/json/ru_RU.json
public/locale/json/zh_TW.json
/vendor
/help
*.zip
